<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      您提交的注册信息有误.
    </div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
